*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.bg{
    background-color: #F6FCEE;
    color: #777
}

#main_img {
    margin-left: 10%;
    width: 80px;
    height: 100px;
}

.navbar{
    background: #F6FCEE;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo{
    display: flex;
    width: 40px;
    height: 50px;
    margin-top: 10px;
    margin-left: 0%;
    padding-top: 10px;
}


.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height:80px;
}

.button-box{
    width: 30px;
    height: 30px;
    background: #C4A9EF;
    border-radius: 6px;
    transform: translate(-50%, -10%);
    overflow: hidden;
}

.sun{
    width: 12px;;
    height:12px;
    background: #F6FCEE;
    border-radius: 50%;
    cursor: pointer;
    position: center;
    margin: 8.5px 8.5px;
    
}

.sun div{
    height: 1px;
    background: #F6FCEE;
    position:absolute;
    top: 50%;
    left:50%;
    z-index: -1;
    transition: width 0.5s;
}

.sun .line1{
    width: 20px;
    transform: translate(-50%, -50%);
}

.sun .line2{
    width: 20px;
    transform: translate(-50%, -50%) rotate(90deg);
}

.sun .line3{
    width: 17px;
    transform: translate(-50%, -50%) rotate(45deg);
}

.sun .line4{
    width: 17px;
    transform: translate(-50%, -50%) rotate(-45deg) ;
}

.sun::after{
    content:'';
    width: 12px;;
    height:12px;
    background: #C4A9EF;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    transition: 0.5s;
}

.sun.night::after{
    top: 4px;
    right: 4px;
}

.sun.night div{
    width: 0;
}

.dark-mode{
    background-color: #040101;
    color: #F6FCEE;
}

@media(prefers-color-scheme: light) {
    .bg{
        background-color:#f6fcee;
        color: #f6fcee;
    }
    .navbar{
        background-color:#cc1414;
        color: #f6fcee;
    }
    .navbar__links{
        color: #f6fcee;
    
    }
    .navbar__item{
        color: #f6fcee;
    }
    .button {
        display:flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px;
        height:100%;
        width:100%;
        border: none;
        outline: none;
        border-radius: 4px;
        background:#062c6f;
        color: #f6fcee;
    }
}

@media(prefers-color-scheme: dark) {
    .bg{
        background-color:#111011;
        color: #f6fcee;
    }
    .navbar{
        background-color:#cc1414;
        color: #f6fcee;
    }
    .navbar__links{
        color: #f6fcee;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0 1rem;
        height: 100%;
    }
    .navbar__item{
        color: #f6fcee;
    }
    .button {
        display:flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px;
        height:100%;
        width:100%;
        border: none;
        outline: none;
        border-radius: 4px;
        background:#062c6f;
        color: #f6fcee;
    }
}

.navbar__links{
    color: #060902;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;

}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height:100%;
    width:100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background:#062c5f;
    color: #060902;
}

.button:hover{
    background: #0767E4;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #0767E4;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1; 
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 8px;
        margin: 0;

    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}

#main_img {
    margin-left: 10%;
    width: 80%;
    height: 400px;
}
.centered {
    font-size: 36px;
    color: #fff;
    position: absolute;
    font-weight: bolder;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
}